*{
    background-color: #24252a;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

li, a, button{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:500;
    font-size:16px;
    text-decoration: none;
    color:aliceblue;
}

header{
    display:flex;
    justify-content: space-between;
    padding:30px 10%;
    align-items: center;
}
.logo{
    cursor:pointer;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display:inline-block;
    padding: 0 20px;
}
.Rgt img , a{
    padding:0 10px;
}

.Rgt a:hover{
    color:rgb(55, 172, 172);
}

.nav-links li a{
    transition:all 0.3s ease 0s;
}
.nav-links li a:hover{
    color:rgb(55, 172, 172);
}
.Rgt-btn{
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
}
.Rgt-btn:hover{
    background-color:#24252a;
}

.main-body{
   /* margin-left:40%; */
    align-content: center;
    display:grid;
    justify-content: center;
}

.heading p{
    color:white;
    font-size:40px;
    font-weight: 500;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home{
    color:gray;
}

.body p{
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:200;
    font-size: 20px;
    padding:5px 10px;
}

.Num{
    font:bold;
    font-size:30px;
}

.Get-Strt{
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.3s ease 0s; 
    margin-top: 15px;  
}

.card-texts{
    display:flex;
    justify-content:space-evenly;
    margin-top:50px;
    gap:10px;
}
.card-texts p{
    color:rgb(145, 138, 138);
    padding-top: 10px;
}

.card-logo{
    padding-top:10px;
    padding-left: auto;
    height:30px;
}
.Text-title {
    color:white;
    font-size:20px;
}
.card-1{
    border:white 2px solid;
    border-radius: 15px;
    width:200px;
    height:250px;
}
.card-1 p{
    color:rgb(248, 236, 236);
    padding-left:20px;
}

.card-2 {
    margin-top:30px;
    background-color:rgba(0,136,169,1);
    border-radius:25px;
    width:200px;
    height:250px;
}
.card-2 p{
    color:rgb(248, 236, 236);
    margin-left:20px;
    background-color:rgba(0,136,169,1);
    padding-top:15px;
}

.card-num{
    background-color:rgba(0,136,169,1);
    font-size:35px;
}

.card-logo-2{
    padding-top:10px;
    padding-left:20px;
    height:30px;
    background-color:rgba(0,136,169,1);
}
.card-num-1{
    font-size:35px;
}
.dots{
    size: 20px;
}
.last-text-1{
    margin-top:50px;
}

.logo-date{
    display:flex;
}
.logo-date p{
    margin-left:90px;
}
.txt{
    margin-top:30px;
}

.texts-2{
    margin-top:50px;
}
